.jumbotron{
	position: absolute;
	z-index: 1;
	width:100%;
	height:1000px;
	
	
}
body{
	background: gray;
	text-align:center;
}
.row{
	text-align: center;
}

#timer{
	float:left;
}

#states{
	float: left;
}

#leftside{
	float:left;
}

.hidden{
	display:none;
}

.show{
	display: block;
}



#map{
	width:100px;
	height:100px;
}